$btn-color: #eeeeee !default;
$color-main: #5b4e03;
$color-main--light:  #daba27;
$color-main--light-1 :  #bdc3c7;
$color-main--light-2 :  #a2a7aa;
$color-black: #000000;
$color-secondary--light :#f5f0c4;
$color-secondary--light-2 :#fe731e;
$color-secondary : #daba27;
$btn-color-dark: shade($btn-color, 40%);